{% extends "race/race_base.html" %}

{% block head_title %}{{ object.name }}{% endblock %}

{% block extra_head %}
<script type="text/javascript">
function add_to_my_races(id){
  $.get('/race/add_to_my_races/', {race_id: id}, 
    function(data){
	  p = $('p.not_racing')[0];
	  p_class = p.attributes.item('class');
	  p_class.value = 'racing';
	  child = p.childNodes[0];
	  p.removeChild(child)

	  new_child = document.createElement('a');
	  new_child.setAttribute('href', '#');
	  new_child.setAttribute('onClick', 'remove_from_my_races({{object.id}});')
	  new_child.textContent = "I'm racing";
	  p.appendChild(new_child);
      alert("{{ object.name }} has been added to My Races");
    })
}                                                                              

function remove_from_my_races(id){
  $.get('/race/remove_from_my_races/', {race_id: id},
    function(data){
	  p = $('p.racing')[0];
	  p_class = p.attributes.item('class')
	  p_class.value = 'not_racing'
	  child = p.childNodes[0];
	  p.removeChild(child);

	  new_child = document.createElement('a');
	  new_child.setAttribute('href', '#');
	  new_child.setAttribute('onClick', 'add_to_my_races({{object.id}});')
	  new_child.textContent = "Add to My Races"
	  p.appendChild(new_child);
	  alert("{{ object.name }} has been removed from My Races");
	})
}
</script>
{% endblock %}

{% block body %}
<h1><a href="{{ object.url }}">{{ object.name}}</a></h1>
<p>{{ object.race_type.name }}</p>
<p>Race date: {{ object.date|date }}</p>
<p>{{ object.description }}</p>
<p>Location: {{ object.location }}</p>
<p>Race URL: {{ object.url }}</p>
<p>Contact Information:
	<blockquote>
		Name: {{object.contact_name}}<br />
		Email: <a href="mailto:{{object.contact_email}}">{{object.contact_email}}</a><br />
		Phone: {{object.contact_phone}}<br />
	</blockquote>
</p>
{% if object.events|length_is:"1" %}Event:{% else %}Events:{% endif %}
<ul>
{% for event in object.events %}
  <div class="racing_event_{{event.id}}">
  <li>{{ event.distance }} starts on {{event.date|date:"N d"}} at {{ event.date|date:"f a"}} <br>
  {% if user.is_authenticated %}
    {% if event in user.get_profile.races.all %}  
	  {# <p class="racing_event_{{event.id}}"><a href="#" onClick="remove_from_my_races({{event.id}});">Remove</a></p> #}
	  <a href="/race/remove_from_my_races?event_id={{event.id}}">Remove from MyRaces</a>
	{% else %}
       {# <p class="not_racing"><a href="#" onClick="add_to_my_races({{event.id}});">Add</a></p> #}
       <a href="/race/add_to_my_races?event_id={{event.id}}">Add to MyRaces</a>
	{% endif %}
  {% endif %}
  </li>
  </div>
{% endfor %}
</ul>


{% endblock %}
